@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

a span{
  color: gold;
}
p span{
  font-weight: bold;
}

img{
  height: 230px;
}



.script-font {
  font-family: "Great Vibes", cursive;
}

.post-image-height {
  height: 250px;
}
